// Material Design Colors
$primary-color-500: #009688;
$accent-color-500: #FFC107;
$accent-color-600: #FFB300;
$accent-color-700: #FFA000;

// Material Text Colors
$primary-text-dark: rgba(0, 0, 0, 0.87);
$secondary-text-dark: rgba(0, 0, 0, 0.70);