@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,700');
* {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 1100px;
    margin: 30px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    width: 75%;
    margin: 30px;
}

header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin: 0px;
}

header p {
    font-size: 2rem;
    font-weight: normal;
    margin: 0px;
}

a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #FFC107;
    border: none;
    border-radius: 0px;
    font-family: "Roboto";
    border-radius: 0px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

a:hover {
    background-color: #FFB300;
}

a:focus {
    outline: none;
    background-color: #FFA000;
}

footer {
    width: 100%;
    margin: 30px 0px 10px 0px;
    position: relative;
    bottom: 0px;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 850px) {
    main {
        width: 100%;
        margin: 0px;
        height: 100%;
        box-shadow: none;
    }
    body {
        background-color: #ffffff;
        height: initial;
    }
}

@media screen and (max-width: 500px) {
    header,
    footer {
        margin: 10px;
    }
    header h1 {
        font-size: 4rem;
    }
    header p {
        font-size: 1.5rem;
    }
}